nav {
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    background:black;
}

.logo{
    height: 43px;
    width: 46px;
    border-radius: 45px;
    display: block;
    padding: 6px;
    position: fixed;
    z-index: 100;
}

.list {
    list-style-type: none;
    margin: 1px;
    background: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.items {
    margin-right: 32px;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    align-items: center;
}

.btn{
    display: none;
    position: absolute;
    top: 7px;
    padding: 5px;
    color: white;
    font-size: 18px;
    right: 1rem;
}


@media screen and (max-width: 500px){
    .list {
        flex-direction: column;
        height: auto;
    }
    .items:nth-child(1){
        border-top: 1px solid white;
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid white;
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }
}

